{% load static %}
{% include 'topbar.html' %}
<!doctype html>
<html ng-app="app" lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ user.username }}的个人主页</title>
	<link rel="stylesheet" href="{% static '/css_style/base.css' %}">
	<link rel="stylesheet" href="{% static '/css_style/personal_information.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static '/css_style/birthday/wui.min.css' %}">

	<link rel="stylesheet" href="{% static '/css_style/limit/normalize.min.css' %}">
    <link rel="stylesheet prefetch" href="{% static '/css_style/limit/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/css_style/limit/style.css' %}">


	<script type="text/javascript" src="{% static '/js/personal_information/date/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/personal_information/date/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/personal_information/date/wui-date.js' %}" charset="utf-8"></script>
	<script type="text/javascript">var app = angular.module('app',["wui.date"]);</script>
  	<script type="text/javascript">
		function previewFile() {
		 var preview = document.querySelector('.img-pro');
		 var file  = document.querySelector('input[type=file]').files[0];
		 var reader = new FileReader();
		 reader.onloadend = function () {
		  preview.src = reader.result;
		 }
		 if (file) {
		  reader.readAsDataURL(file);
		 } else {
		  preview.src = "img-p";
		 }
		}
	</script>
</head>

<body>
{% block content %}
	<div class="personal_page" id="personal_page" style="margin-top: 100px">
        <div class="person_head">
            <div class="profile_picture" >
                {% if headshot %}
                    <img src="{{ headshot.url }}" class="img-pro" alt="">
                {% else %}
                    <div style="width: 145px;height: 140px;border: 3px dashed #ffb0a4;border-top-right-radius: 10px;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background: #d3cfd6">
                        <div style="margin-top: 60px;margin-left: 38px">
                            暂无头像
                        </div>
                    </div>
                {% endif %}
{#                <img src="{{ headshot.url }}" class="img-pro" alt="">#}
            </div>
            <div class="words">
                <input type="text" class="head_username" placeholder="{{ user.username }}" readonly><br/>
                <input type="text" class="sentence" placeholder="{{ personal_intro }}" readonly>
                <a href="{% url 'Userprofile:profile' user.id %}" style="margin-left: 90%">
                    <button type="button" class="btn btn-outline-dark">
                        返回
                    </button>
                </a>
            </div>
        </div>
        <div id="tree">
            <script src="{% static '/js/personal_information/tree/person_tree_script.js' %}"></script>
        </div>
        <div class="person_information" style="height: 500px;">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="height: 40px;">
                    头&nbsp;&nbsp;&nbsp;像&nbsp;&nbsp;：&nbsp;<input type="file" onchange="previewFile()" class="file_profile" name="file_profile" id="file_profile" accept="image/gif, image/jpeg, image/png, image/jpg" style="margin-left: 680px;margin-top: -50px">
                </div>
                姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：<input type="text" class="username" placeholder="{{ user.first_name }}" id="first_name" name="first_name"><br/>
                名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：<input type="text" class="username" placeholder="{{ user.last_name }}" id="last_name" name="last_name"><br/>
                电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：<input type="tel" placeholder="{{ userprofile.telephone }}" class="tel" id="telephone" name="telephone"><br/>
                个人简介&nbsp;：<input type="text" placeholder="{{ userprofile.personal_infor }}" class="username" id="personal_infor" name="personal_infor"><br/><br/>
				<div class="submit" style="margin-left: 20px">
					<button type="submit">确认修改</button>
				</div>
            </form>
            <script type="text/javascript"  src="{% static '/js/personal_information/limit/react.min.js' %}"></script>
            <script type="text/javascript"  src="{% static '/js/personal_information/limit/react-dom.min.js' %}"></script>
            <script type="text/javascript"  src="{% static '/js/personal_information/limit/prop-types.js' %}"></script>
            <script type="text/javascript"   src="{% static '/js/personal_information/limit/index.js' %}"></script>
        </div>
	</div>
{% endblock %}
</body>
</html>
{% include 'footer.html' %}
