<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{% block content %}
        <form method="post" action=".">
            {% csrf_token %}
            <!-- 账号 -->
            <div>
                <label for="username">昵称</label>
                <input type="text" id="username" name="username" required>
            </div>
            <!-- 邮箱 -->
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <!-- 密码 -->
            <div>
                <label for="password_1">设置密码</label>
                <input type="password" id="password_1" name="password_1" required>
            </div>
            <!-- 确认密码 -->
            <div>
                <label for="password_2">确认密码</label>
                <input type="password" id="password_2" name="password_2" required>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
{% endblock content %}
</body>
</html>