    /* header{ */
        /* 粘滞定位必须在父元素中 */
        /* position: absolute; */
    /* } */
    /* 设置外部容器样式 */
    .topbar{
        width:1250px;
        height:60px;
        /* 确保行高居中 */
        background-color: rgb(245, 239, 239);
        /* 设置水平居中 */
        margin:30px auto;
        box-shadow:10px 10px 15px rgba(228, 226, 226, 0.7) ;
        border-radius:15px;
        display: flex;
        flex-wrap: nowrap;
    }
     li{
        height:60px;
        line-height: 60px;
        text-align: center;
        flex-grow: 1;
        flex-shrink: 1;
    }
    /* 设置user和logo*/
    .logo-wrap{
        flex-grow: 1.5;
    }
    .user-wrap{
        flex-grow: 2;
    }
    /* 设置logo*/
    img.logo{
        margin-top: 5px;
        height:50px;
    }
    /* 设置line */
    .line-wrap{
        text-align: center;
        flex-grow: .7;
    }
    .line{
        width:1px;
        height:30px;
        margin: 15px 0 15px;
        background-color:rgb(214, 195, 191);
    }
    /* 设置user */
    .topbar a.user-wrap{
        justify-content: center;
    }
    /* 设置小图标 */
    .topbar .iconfont{
        font-weight: bolder;
        font-size:24px;
    }
    /* 设置文字 */
    .topbar a{
        display: flex;
        text-decoration:none;
        color:tomato;
    }
    .topbar a p{
        margin-top: 3px;
        flex-grow: .3;
        font-size: 17px;
        text-decoration:none;
    }
    .topbar a:hover{
        color:rgb(243, 191, 182);
        text-decoration:none;
    }
    .topbar a > div:hover{
        color:rgb(243, 191, 182);
        text-decoration:none;
    }