.talkouter{
    width: 220px;
    height: 180px;
    /* background-color: skyblue; */
    margin:20px auto;
    border-radius: 10px;
}
.talkimgwrap img{
    width: 100%;
    height: 97%;
    /* margin-top: 2.5px;
    margin-left: 10px; */
    border-radius: 10px;
    border:1.5px solid rgb(189, 189, 189);
}
.talkboxwrap{
    width: 220px;
    height: 180px;
    /* background-color: rgb(204, 199, 199); */
    margin:-180px auto;
}
.talkimgwrap img:hover{
    transition:all 1s ;
    border: 1.5px solid rgb(252, 215, 95);
}
.talkboxwrap .talkthemewrap{
    width: 70%;
    height: 30px;
    margin:30px auto 5px;
    padding-bottom: 10px;
    text-align:center
}
.talkboxwrap .talktheme{
    font-size: 20px;
    text-decoration:none;
    
    color:rgb(70, 69, 69);
    letter-spacing:1.5px;
    line-height:25px;
}
.talkboxwrap .talktime1{
    margin:0px auto 3px;
    text-align:center;
    color:rgb(83, 83, 83);
    font-size: 13.5px;
    letter-spacing:1.5px;
}
.talkboxwrap .talktime2{
    /* background-color: #baf; */
    text-align:center;
    color:rgb(83, 83, 83);
    font-size: 12px;
    letter-spacing:.5px;
    margin-bottom: 10px;
}
.talkouter .talkboxwrap .talkattend{
    display: block;
    width: 100px;
    height: 25px;
    /* background-color: rgb(231, 110, 135); */
    margin:20px auto 10px;
    border-radius: 5px;
    text-align:center;
    padding-top: 7.5px;
    letter-spacing:1px;
    text-decoration:none;
    color: rgb(255, 187, 0);
    border: 2px solid rgb(255, 187, 0);
}
.talkouter .talkboxwrap .talkattend:hover{
    background-color: rgb(255, 196, 0);
    border: 2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
}
