.commentcon{
    /* background-color: #bfa; */
    width: 520px;
    height: 200px;
    display: flex;
    margin:20px auto;
}
.commentline{
    border: .7px solid rgb(230, 230, 230);
    width: 480px;
    margin:20px auto 5px;
}
.commentcon .headimgcon{
    flex-grow: 1;
    /* background-color: #abf; */
}
.headimgcon img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
}
.commentcon .textimgcon{
    flex-grow: 100;
}
.textimgcon .commentname{
    color:rgb(218, 214, 214);
    margin-left:10px;
    font-size: 15px;
}
.textimgcon .commentname a{
    display:block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(143, 144, 145);
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 7px;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-decoration: none;
}
.textimgcon .commentname a:hover{
    color:#fff;
    background-color: tomato;
    text-decoration: none;
}
.textimgcon .commenttext{
    margin: 10px 10px 18px;
    line-height:20px;
    text-align: left;
    text-indent:35px;
    letter-spacing: 1px;
    font-size: 15.5px;
}
.commentreply a{
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    margin-top: 20px;
}
.iconfontcon{
    display:flex;
    border: 1px solid rgb(245, 182, 8);
    color:rgb(245, 182, 8) ;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    line-height: 25px;
    justify-content: space-evenly;
}
.commentreply a .iconfontcon:hover{
    color:#fff;
    background-color: rgb(245, 182, 8);
    text-decoration: none;
}
.commentreply a .iconfontnum:hover{
    text-decoration: none;
}
.iconfontreplyin,.iconfontforin{
    width: 70px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    color:rgb(253, 157, 141);
    border-radius: 7px;
    border: rgb(253, 157, 141) 1px solid;
}
.iconfontreplyin:hover, .iconfontforin:hover{
   color:#fff;
   background-color: rgb(253, 157, 141);
}