#toggle:checked ~ul {
    display: none;
  }
  #toggle:checked ~div {
    display: none;
  }
  .outer1 input {
    position: relative;
    left: 0;
    top: -50px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
    margin-bottom: -40px;
  }
  .outer1{
      height: auto;
  }